<div class="container">
    <h1 class="my-4">Edit Venture</h1>

    <form action="/my-account/ventures/edit/{{venture.id}}?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" value="{{venture.name}}">
        </div>
        <img class="img-fluid rounded" style="height: 150px" src="{{imgUrl}}" alt="">
        <div class="form-group">
            <label for="logoFile">Logo Upload</label>
            <input name="logoFile" type="file" class="form-control">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input name="website" type="text" class="form-control" id="website" value="{{venture.website}}">
        </div>
        <div class="form-group">
            <label for="ventureCategory">Venture Category</label>
            <select name="ventureCategory" id="ventureCategory" class="form-control">
                    {{#select venture.ventureCategory}}
                        {{#each ventureCategories}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    {{/select}}  
            </select>
        </div>
        <div class="form-group">
            <label for="stage">Stage</label>
            <select name="stage" id="stage" class="form-control">
                    {{#select venture.stage}}
                        {{#each stages}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    {{/select}}  
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" id="status" class="form-control">
                {{#select post.status}}
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    <option value="draft">Draft</option>
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" cols="30" rows="10"  class="form-control" id="description">{{venture.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="elevatorPitch">Elevator Pitch</label>
            <textarea name="elevatorPitch" cols="30" rows="10"  class="form-control" id="elevatorPitch">{{venture.elevatorPitch}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Venture</button>
    </form>
</div>