{{> home/my-account-nav}}

<div class="container">
    <h1 class="my-4">Comments</h1>

    <table class="table">
    <thead>
        <tr>
        <th>id</th>
        <th>Owner</th>
        <th>Post Title</th>
        <th>Date</th>
        <th>View</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        {{#each comments}}
            {{#if approveComment}}
                <tr>
                    <th>{{id}}</th>
                    <td>{{user.firstName}}</td>
                    <td>{{post.title}}</td>
                    <td>{{generateDate date 'MMMM Do YYYY'}}</td>
                    <td><a href="/post/{{post.slug}}#{{id}}">View</a></td>
                    <td>
                        <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {{else}}
                <tr class="table-warning text-muted">
                    <th>{{id}}</th>
                    <td>{{user.firstName}}</td>
                    <td>{{post.title}}</td>
                    <td>{{generateDate date 'MMMM Do YYYY'}}</td>
                    <td class="text-muted">View</td>
                    <td>
                        <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
                            <button style="cursor: pointer" type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <div class="alert alert-warning" role="alert">
                    Your yellow marked comments are currently being reviewed and can't be viewed yet.
                </div>
            {{/if}}
        {{/each}}
        
    </tbody>
    </table>
</div>
